<!doctype html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZEQLEYLFFR"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZEQLEYLFFR');
    </script>

    <meta charset="utf-8">
    <link rel="icon" type="favicon" href="../static/images/favicon.ico">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CleanMp3 is a mp3 converter that lets you convert Youtube videos to mp3 audio for free. 
    CleanMp3 is the best Youtube mp3 downloader.">
    <meta name="keywords" content="mp3, music, audio, converter, youtube, downloader, free, online, safe, best">
    <meta name="author" content="CleanMp3">
    <title>CleanMp3 | MP3 Converter</title>

    <link rel="canonical" href="https://getbootstrap.com/examples/cover/">
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename = '/css/bootstrap.min.css') }}" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <meta name="theme-color" content="#563d7c">


    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@300;400&display=swap');

        body{
            font-family: 'Roboto', sans-serif;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename = '/cover.css') }}" rel="stylesheet">
</head>
<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
               <a href="/">
                <h4 class="masthead-brand">CleanMp3 </h4>
               </a>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link active" href="/about">About Us</a>
                    <a class="nav-link" href="/terms-conditions">Terms & Conditions</a>
                </nav>
            </div>
        </header>
        <div class="main">
            <h1 class="display-4 ">Welcome To CleanMp3!</h1>
            <!-- <h3 class="display-5">About Us:</h3> -->
        </div>
        <br>
        <main role="main" class="inner cover">
            <p> CleanMp3 is the most safe, clean, secure and fast Youtube to Mp3 converter!
                With CleanMp3, you can instantly download mp3 files as you please, when you please.
                Unlike other mp3 converters on the internet, CleanMp3 is 100% safe, spyware-free, pop-up free, and spam free!
                CleanMp3 also provides the best high-quality mp3 audio format. 
            </p>

            <h5>How to use CleanMp3:</h5>
            <ul style="text-align: left;">
                <li>
                    Copy a URL.
                </li>
                <li>
                    Next, paste the link into the text-area.
                </li>
                <li>
                   Click the "Download .mp3" button. Wait for the file to download. Done!
                </li>
            </ul>
            <p>
                For Queries, Suggestions, and Complaints, 
                please feel free to contact us at : <a href="mailto:cleanmp3devs@gmail.com">cleanmp3devs@gmail.com</a> 
                <br>
                Thank You.
            </p>

        </main>

        

        <footer class="mastfoot mt-auto">
            <div class="inner">
                &copy; Copyright
                <span id="copyright">
                    <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                </span>
                CleanMp3. All Rights Reserved.
            </div>
        </footer>
    </div>
</body>

</html>